// Libre Baskerville шрифт
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,italic&display=swap");

@font-face {
	font-family: "Brand";
	src: url("../fonts/brand.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
