@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
/* Локальне підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Alexandria:regular,500,700&display=swap");
@import url("iconstylefonts.css");
/* Скидання стилів */
@import url("reset.css");
@import url("variables.css");
/* Основні стилі */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg);
  color: var(--color-text);
  font-family: "Alexandria", sans-serif;
  font-size: 0.875rem;
  line-height: normal;
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
@media (min-width: 48em) {
  body {
    font-size: 1rem;
  }
}
.loaded body {
  opacity: 1;
}

a,
button {
  -webkit-transition: color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  transition: color 0.3s, background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 76.875rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.header {
  position: fixed;
  inline-size: 100%;
  z-index: 100000;
}
.header__container {
  padding-block: 1.25rem;
}
.header__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}
@media (min-width: 38.75em) {
  .header__body {
    grid-template-columns: 1fr 1fr auto;
  }
}
@media (min-width: 60em) {
  .header__body {
    grid-template-columns: 1fr auto 1fr;
  }
}
.header__logo {
  position: relative;
  z-index: 6;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 60em) {
  .header__menu {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: -1000%;
    inline-size: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-padding-before: 6.25rem;
            padding-block-start: 6.25rem;
    -webkit-transition: inset-block-start 0.3s;
    transition: inset-block-start 0.3s;
  }
}
.menu-open .header__menu {
  inset-block-start: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: black;
}
.header__actions {
  justify-self: end;
  display: none;
  gap: 1rem;
  position: relative;
  z-index: 6;
}
.header__actions .action__button {
  padding-block: 0.5rem;
}
@media (min-width: 38.75em) {
  .header__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__item {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  justify-self: end;
  position: relative;
}
.header__item::before, .header__item::after,
.header__item span {
  content: "";
  block-size: 0.125rem;
  inline-size: 100%;
  background-color: var(--color-text-2);
  position: absolute;
  inset-inline-start: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__item::after {
  inset-block-end: 0;
}
.menu-open .header__item::after {
  inset-block-end: 50%;
  -webkit-transform: translateY(0.0625rem) rotate(45deg);
      -ms-transform: translateY(0.0625rem) rotate(45deg);
          transform: translateY(0.0625rem) rotate(45deg);
}
.header__item::before {
  inset-block-start: 0;
}
.menu-open .header__item::before {
  inset-block-start: 50%;
  -webkit-transform: translateY(-0.0625rem) rotate(-45deg);
      -ms-transform: translateY(-0.0625rem) rotate(-45deg);
          transform: translateY(-0.0625rem) rotate(-45deg);
}
.menu-open .header__item span {
  display: none;
  opacity: 0;
}
@media (min-width: 60em) {
  .header__item {
    display: none;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  padding-block: 1.75rem;
}
@media (min-width: 60em) {
  .menu__body {
    padding-block: 0.5rem;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-inline: 1.5rem;
}
@media (min-width: 60em) {
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2.5rem;
    padding-inline: 0;
  }
}
.menu__link:hover {
  color: var(--text-hover);
}
.menu__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.menu__actions .action__button {
  padding-block: 0.5rem;
}
@media (min-width: 60em) {
  .menu__actions {
    display: none;
  }
}

.header.header-scroll {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.hero {
  position: relative;
}
.hero__container {
  padding-block: 7rem 2.5rem;
}
@media (min-width: 48em) {
  .hero__container {
    padding-block: 9.75rem 4rem;
  }
}
@media (min-width: 90em) {
  .hero__container {
    padding-block: 11rem 5.5rem;
  }
}
.hero__decor {
  width: 37.5rem;
  height: 37.5rem;
  border-radius: 50%;
  background: rgba(74, 90, 236, 0.16);
  -webkit-filter: blur(139.8999938965px);
          filter: blur(139.8999938965px);
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0%;
}
.hero__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(31.25rem, 100%), 1fr));
  gap: 2rem;
}
@media (min-width: 48em) {
  .hero__item:nth-child(1) {
    padding-block: 4.375rem;
  }
}
.hero__item:nth-child(2) {
  opacity: 0;
  -webkit-transition: opacity 8s;
  transition: opacity 8s;
}
.animate .hero__item:nth-child(2) {
  opacity: 1;
}

.item-hero__header {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
@media (min-width: 48em) {
  .item-hero__header {
    -webkit-margin-after: 2.5rem;
            margin-block-end: 2.5rem;
  }
}
@media (min-width: 48em) {
  .item-hero__header.titles {
    gap: 1.5rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.item-hero__header .titles__label {
  max-width: 8.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.item-hero__header .titles__label--before::before {
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  background-color: var(--button-bg);
}
.item-hero__header .titles__about {
  text-align: left;
}
.item-hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 28.125em) {
  .item-hero__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.item-hero__block .action__button:nth-child(1) {
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  -webkit-transition: -webkit-transform 1.7s;
  transition: -webkit-transform 1.7s;
  transition: transform 1.7s;
  transition: transform 1.7s, -webkit-transform 1.7s;
}
.animate .item-hero__block .action__button:nth-child(1) {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.item-hero__block .action__button:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  border-radius: 2.5rem;
  border: 1.5px solid var(--Gradient-1, #4d4d4d);
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  -webkit-transition: -webkit-transform 1.4s;
  transition: -webkit-transform 1.4s;
  transition: transform 1.4s;
  transition: transform 1.4s, -webkit-transform 1.4s;
}
.animate .item-hero__block .action__button:nth-child(2) {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.item-hero__img {
  max-width: 32rem;
  aspect-ratio: 1/1;
}

.partners, .product {
  background-color: var(--partner-bg);
}
.partners__container {
  padding-block: 2.5rem;
}
.partners__title {
  text-align: center;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
@media (min-width: 48em) {
  .partners__title {
    -webkit-margin-after: 2.5rem;
            margin-block-end: 2.5rem;
  }
}
.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1rem;
}
@media (min-width: 48em) {
  .partners__items {
    gap: 4.5rem;
  }
}
.partners__img {
  max-width: 8.125rem;
  aspect-ratio: 130/32;
  opacity: 0;
  -webkit-transition: opacity 8s;
  transition: opacity 8s;
}
.animate .partners__img {
  opacity: 1;
}

.future__container, .revolutionary__continer, .testimonials__container, .faq__container {
  padding-block: 2.5rem;
}
@media (min-width: 48em) {
  .future__container, .revolutionary__continer, .testimonials__container, .faq__container {
    padding-block: 5rem;
  }
}
.future__header, .about__header {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
@media (min-width: 48em) {
  .future__header, .about__header {
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
  }
}
.future__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
@media (min-width: 48em) {
  .future__items {
    gap: 1.5rem;
  }
}
.future__item {
  text-align: center;
  border-radius: 0.75rem;
  border: 0.0625rem solid #4d4d4d;
  background: rgba(255, 255, 255, 0.04);
  padding: 1.875rem 1.5rem;
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.animate .future__item {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 48em) {
  .future__item {
    padding: 3rem 2.25rem;
  }
}

.item-future__img {
  max-width: 3rem;
  aspect-ratio: 1/1;
  margin-inline: auto;
  -webkit-margin-after: 2.25rem;
          margin-block-end: 2.25rem;
}
.item-future__title {
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--text-hover);
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.product__container {
  padding-block: 2.5rem;
}
@media (min-width: 48em) {
  .product__container {
    padding-block: 7.5rem;
  }
}
.product__header, .faq__header, .testimonials__header {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
@media (min-width: 48em) {
  .product__header, .faq__header, .testimonials__header {
    -webkit-margin-after: 4.5rem;
            margin-block-end: 4.5rem;
  }
}
.product__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 32.5em) {
  .product__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 48em) {
  .product__items {
    gap: 4.5rem;
  }
}
.product__item {
  -webkit-transform: translateX(-10000%);
      -ms-transform: translateX(-10000%);
          transform: translateX(-10000%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.animate .product__item {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.item-product__number {
  font-size: 3rem;
  line-height: 1; /* 48px */
  text-transform: capitalize;
  color: var(--button-bg);
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem;
}
@media (min-width: 48em) {
  .item-product__number {
    -webkit-margin-after: 1.25rem;
            margin-block-end: 1.25rem;
  }
}
.item-product__title {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.4;
}

.about__container {
  padding-block: 2.5rem;
}
@media (min-width: 48em) {
  .about__container {
    padding-block: 3.75rem;
  }
}
.about__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(28.125rem, 100%), 1fr));
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}
@media (min-width: 48em) {
  .about__items {
    gap: 4.5rem;
  }
}
.about__item:nth-child(1) {
  opacity: 0;
  -webkit-transition: opacity 6s;
  transition: opacity 6s;
}
.animate .about__item:nth-child(1) {
  opacity: 1;
}

.item-about__img {
  max-width: 31.625rem;
  aspect-ratio: 1/1;
}
.item-about__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
@media (min-width: 48em) {
  .item-about__section {
    gap: 2.5rem;
  }
}
.item-about__box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.25rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #4d4d4d;
  background: var(--partner-bg);
  -webkit-transform: translateY(-1000%);
      -ms-transform: translateY(-1000%);
          transform: translateY(-1000%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  padding: 1.5rem 1.25rem;
}
.animate .item-about__box {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 48em) {
  .item-about__box {
    gap: 1.5rem;
    padding: 1.875rem 1.25rem;
  }
}
.item-about__icon {
  max-width: 1.875rem;
  aspect-ratio: 1/1;
}
.item-about__title {
  font-size: 1.25rem;
  line-height: 1.4;
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
  color: var(--text-hover);
}

.testimonials {
  background-color: var(--partner-bg);
}
.testimonials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.testimonials__swiper, .testimonials__swiper-next {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(20%, white), color-stop(80%, white), to(transparent));
  -webkit-mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(20%, white), color-stop(80%, white), to(transparent));
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  width: calc(100vw - 40px); /* мінус відступи контейнера */
  margin-left: calc(-50vw + 50% + 20px);
}
.testimonials__slide {
  padding: 2rem;
  border-radius: 1rem;
  border: 0.0625rem solid #4d4d4d;
  background: var(--main-bg);
  -webkit-backdrop-filter: blur(4.5912241936px);
          backdrop-filter: blur(4.5912241936px);
  max-width: 23.3125rem;
}
.testimonials__text {
  max-width: 23.3125rem;
  color: var(--color-text-3);
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}
@media (min-width: 48em) {
  .testimonials__text {
    -webkit-margin-after: 2rem;
            margin-block-end: 2rem;
  }
}
.testimonials__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.testimonials__img {
  max-width: 3rem;
  aspect-ratio: 1/1;
}
.testimonials__name {
  font-size: 0.875rem;
  color: var(--color-text-2);
}
.testimonials__about {
  font-size: 0.75rem;
  color: #4d4d4d;
}
.faq__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-inline: auto;
  max-width: 46.875rem;
  gap: 1.875rem;
}
.faq__spoiler {
  padding: 1rem 1.25rem;
  border: 0.0625rem solid #2e2e2e;
  min-height: 3.5rem;
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.animate .faq__spoiler {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.faq__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
  cursor: pointer;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: var(--text-hover);
}
.faq__body:hover {
  color: var(--button-bg);
}
.faq__body::before {
  height: 1.25rem;
  width: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
[open] .faq__body::before {
  height: 0.09375rem;
}
[open] .faq__content {
  -webkit-padding-before: 1.5625rem;
          padding-block-start: 1.5625rem;
}

.revolutionary {
  background-color: var(--partner-bg);
}
.revolutionary__header .action__button {
  border-radius: 0;
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.animate .revolutionary__header .action__button {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.revolutionary__header .titles__title {
  text-align: center;
  max-width: 54.875rem;
  margin-inline: auto;
}

.footer__items {
  -webkit-padding-before: 2.5rem;
          padding-block-start: 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 53.75em) {
  .footer__items {
    grid-template-columns: 1fr 0.4fr;
    padding-block: 2.5rem;
  }
}
.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 26.875em) {
  .footer__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5.75rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer__section .footer__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(12.5rem, 100%), 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 3.125rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.footer__rights {
  padding-block: 1.25rem;
  text-align: center;
}
@media (min-width: 28.75em) {
  .footer__rights {
    padding-block: 2.5rem;
  }
}

.item-footer__section {
  text-align: center;
}
@media (min-width: 28.75em) {
  .item-footer__section {
    text-align: left;
  }
}
.item-footer__title, .section-form__title {
  font-size: 1.25rem;
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem;
  line-height: 1.4;
  color: #e5e5e5;
}
@media (min-width: 48em) {
  .item-footer__title, .section-form__title {
    -webkit-margin-after: 1.5rem;
            margin-block-end: 1.5rem;
  }
}
.item-footer__lists {
  font-size: 0.875rem;
}
@media (min-width: 28.75em) {
  .item-footer__lists {
    text-align: left;
  }
}
.item-footer__lists > :not(:last-child) {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}
.item-footer__link:hover {
  color: #e5e5e5;
}

.section-form__title {
  color: #d8d8d8;
  max-width: 100%;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
@media (min-width: 48em) {
  .section-form__title {
    max-width: 12.375rem;
  }
}
.section-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
  border-bottom: 0.03125rem solid #999;
}

.form__block {
  padding-block: 0.6875rem;
}
.form__input ::-webkit-input-placeholder {
  font-size: 0.875rem;
}
.form__input ::-moz-placeholder {
  font-size: 0.875rem;
}
.form__input :-ms-input-placeholder {
  font-size: 0.875rem;
}
.form__input ::-ms-input-placeholder {
  font-size: 0.875rem;
}
.form__input ::placeholder {
  font-size: 0.875rem;
}
.form__button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--button-bg);
  text-align: center;
  font-size: 1.125rem;
  padding-block: 0.6875rem;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.form__button:hover {
  -webkit-box-shadow: 0rem 0rem 1.25rem 0.0625rem var(--button-bg);
          box-shadow: 0rem 0rem 1.25rem 0.0625rem var(--button-bg);
}

.-icon-arrow {
  color: #000;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6875rem;
}
.logo__image {
  max-width: 2rem;
  aspect-ratio: 1/1;
}
.logo__name {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--color-text-2);
}

.action__button {
  color: var(--color-text-2);
  padding: 0.875rem 1.5rem;
}
.action__button:hover {
  color: var(--button-bg);
}
.action__button--bg {
  background-color: var(--button-bg);
  color: var(--main-bg);
  border-radius: 2.5rem;
}
.action__button--bg:hover {
  background-color: transparent;
  outline: 0.0625rem solid var(--button-bg);
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  position: relative;
}
@media (min-width: 48em) {
  .titles {
    gap: 1.25rem;
    text-align: left;
  }
}
.titles__decor {
  position: absolute;
  inset-inline-start: 25%;
  inset-block-start: 0;
  z-index: 3;
  width: 37.875rem;
  height: 26.5625rem;
  border-radius: 50%;
  background: rgba(74, 90, 236, 0.06);
  -webkit-filter: blur(139.8999938965px);
          filter: blur(139.8999938965px);
  pointer-events: none;
}
.titles__label {
  color: var(--button-bg);
  font-size: 0.875rem;
  border-radius: 1.5rem;
  border: 0.0625rem solid #4d4d4d;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 0.625rem 0.75rem;
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.animate .titles__label {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.titles__title {
  text-transform: capitalize;
  line-height: 1;
  font-size: 1.75rem;
  color: var(--text-hover);
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.animate .titles__title {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 48em) {
  .titles__title {
    font-size: 3rem;
  }
}
.titles__title--big {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1; /* 70.4px */
}
@media (min-width: 48em) {
  .titles__title--big {
    font-size: 3.375rem;
    font-weight: 700;
  }
}
@media (min-width: 90em) {
  .titles__title--big {
    font-size: 4rem;
  }
}
.titles__about {
  text-align: center;
  max-width: 43.125rem;
  font-size: 1rem;
  line-height: 1.4;
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
}
.animate .titles__about {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 48em) {
  .titles__about {
    font-size: 1.125rem;
  }
}
.titles__about--big {
  font-size: 1rem;
}
@media (min-width: 48em) {
  .titles__about--big {
    font-size: 1.25rem;
  }
}