:root {
  --color-text: #fff;
  --color-text-2: #373737;
  --color-text-3: #3fc2bb;
  --color-text-4: #707070;
  --color-text-ft: #38b7af;
  --color-text-ft-2: #f4f4f4;
  --color-text-ft-3: #cefffd;
  --button-color: #ffd703;
  --footer-border: rgba(229, 237, 245, 0.2);
  --bg-footer: #0b514d;
}