:root {
  --bg-2: #f5ebda;
  --bg-circle: #d1b991;
  --main-text-color: #482817;
  --color-text: #623d2a;
  --color-text-2: #af6900;
  --color-text-3: #9e845c;
  --color-text-4: #faf7f2;
  --color-text-5: #c97801;
  --color-text-6: #bb6500;
}