:root {
  --bg-color: #0d1023;
  --bg-after-head: #1a2045;
  --bg-header-scroll: #0d1023f5;
  --bg-hover-color: #2365fa;
  --hover-btn: #0f51e6;
  --bg-footer: #1b2147;
  --color-text: #fff;
  --color-footer: #8a91c1;
}