@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
/* Локальне підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,800,900&display=swap");
@import url("iconsfonts.css");
/* Скидання стилів */
@import url("reset.css");
@import url("variables.css");
/* Основні стилі */
html {
  scroll-behavior: smooth;
}

#about {
  scroll-margin-top: 3.75rem;
}

#reference {
  scroll-margin-top: 3.75rem;
}

@media (max-width: 48em) {
  #services {
    scroll-margin-top: 3.75rem;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color-text);
  background-color: var(--bg-color);
  font-size: 0.875rem;
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 101.875em) {
  body {
    font-size: 1.125rem;
  }
}
.loaded body {
  opacity: 1;
}

a,
button {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  padding-inline: 0.9375rem;
}
@media (min-width: 62.06125em) {
  [class*=__container] {
    margin: 0 auto;
    padding-inline: 1.25rem;
    max-width: 85rem;
  }
}
@media (min-width: 90.06125em) {
  [class*=__container] {
    padding-inline: 2.5rem;
    max-width: 110rem;
  }
}

.header {
  background-color: var(--bg-color2);
  position: fixed;
  z-index: 1000;
  inline-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
}
.header__container {
  display: grid;
  gap: 0.9375rem;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  inline-size: 3.75rem;
  position: relative;
  z-index: 3;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__contact {
  position: relative;
  z-index: 5;
  justify-self: end;
}
@media (max-width: 52.5em) {
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
  }
}
@media (max-width: 52.5em) {
  .header .menu__body {
    position: fixed;
    overflow: auto;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: 100%;
    inset-block-start: 0;
    z-index: 2;
    -webkit-transition: inset-inline-start 0.4s;
    transition: inset-inline-start 0.4s;
    background-color: var(--bg-color2);
    padding: 4.6875rem 1.25rem 0.9375rem 0rem;
  }
  .menu-open .header .menu__body {
    inset-inline-start: 0;
    color: var(--main-color-text);
  }
  .header .menu__body::before {
    content: "";
    block-size: 3.75em;
    inline-size: 100%;
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
    -webkit-transition: inset-inline-start 0.6s;
    transition: inset-inline-start 0.6s;
    background-color: var(--bg-color2);
  }
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 52.5em) {
  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 1.5625rem;
    font-size: 1.375rem;
  }
}
.header .menu__item:hover {
  color: var(--hover-head-menu);
}
.header .icon-menu {
  display: none;
}
@media (max-width: 52.5em) {
  .header .icon-menu {
    display: block;
    inline-size: 1.875rem;
    block-size: 1.125rem;
    position: relative;
  }
  .header .icon-menu::before, .header .icon-menu::after,
  .header .icon-menu span {
    content: "";
    position: absolute;
    block-size: 0.125rem;
    inline-size: 100%;
    inset-inline-start: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    background-color: var(--main-color-text);
  }
  .header .icon-menu::before {
    inset-block-start: 0;
  }
  .menu-open .header .icon-menu::before {
    inset-block-start: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .header .icon-menu::after {
    inset-block-end: 0;
  }
  .menu-open .header .icon-menu::after {
    inline-size: 100%;
    inset-block-end: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
        -ms-transform: translateY(50%) rotate(-45deg);
            transform: translateY(50%) rotate(-45deg);
  }
  .header .icon-menu span {
    inset-block-start: 40%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }
  .menu-open .header .icon-menu span {
    inset-inline-start: 0;
    inline-size: 0;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-transition: scale 0.4s;
  transition: scale 0.4s;
  color: var(--call-color);
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.social:hover {
  color: var(--hover-head-menu);
}
@media (max-width: 31.875em) {
  .social--none {
    display: none;
  }
}

.hero {
  max-block-size: 100vh;
  position: relative;
}
.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-padding-after: 1.875rem;
          padding-block-end: 1.875rem;
  -webkit-padding-before: 6.25rem;
          padding-block-start: 6.25rem;
}
@media (min-width: 48em) {
  .hero__body {
    -webkit-padding-after: 3.125rem;
            padding-block-end: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .hero__body {
    -webkit-padding-after: 6.25rem;
            padding-block-end: 6.25rem;
    -webkit-padding-before: 9.5rem;
            padding-block-start: 9.5rem;
  }
}
.hero__image {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__image img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__items {
  position: relative;
  z-index: 2;
}
.hero__title {
  background-color: var(--call-color);
  max-width: 37.125rem;
  border-radius: 1.25rem;
  padding: 1rem;
  font-size: 1.5625rem;
  font-weight: 700;
  position: relative;
  inset-inline-start: 1000%;
  -webkit-transition: inset-inline-start 0.8s;
  transition: inset-inline-start 0.8s;
}
.loaded .hero__title {
  inset-inline-start: 0;
}
@media (min-width: 48em) {
  .hero__title {
    font-size: 2.3125rem;
    padding: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .hero__title {
    font-size: 4.75rem;
    padding: 2.125rem;
  }
}
.hero__label {
  background-color: var(--bg-color2);
  border-radius: 1.25rem;
  padding: 0.75rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  position: relative;
  inset-inline-start: 1000%;
  -webkit-transition: inset-inline-start 1.2s;
  transition: inset-inline-start 1.2s;
}
.loaded .hero__label {
  inset-inline-start: 0;
}
@media (min-width: 48em) {
  .hero__label {
    font-size: 1rem;
    padding: 1.125rem 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .hero__label {
    font-size: 1.5rem;
    padding: 1.5625rem 2.125rem;
  }
}

.services__container {
  -webkit-padding-before: 2.1875rem;
          padding-block-start: 2.1875rem;
  -webkit-padding-after: 3.75rem;
          padding-block-end: 3.75rem;
}
@media (min-width: 48em) {
  .services__container {
    -webkit-padding-before: 4.0625rem;
            padding-block-start: 4.0625rem;
    -webkit-padding-after: 6.25rem;
            padding-block-end: 6.25rem;
  }
}
@media (min-width: 76.875em) {
  .services__container {
    -webkit-padding-before: 5.9375rem;
            padding-block-start: 5.9375rem;
    -webkit-padding-after: 10rem;
            padding-block-end: 10rem;
  }
}
.services__header {
  text-align: center;
  max-width: 68.75rem;
  margin-inline: auto;
  -webkit-margin-after: 1.5625rem;
          margin-block-end: 1.5625rem;
}
@media (min-width: 48em) {
  .services__header {
    -webkit-margin-after: 2.1875rem;
            margin-block-end: 2.1875rem;
  }
}
@media (min-width: 76.875em) {
  .services__header {
    -webkit-margin-after: 4.0625rem;
            margin-block-end: 4.0625rem;
  }
}

.titles {
  position: relative;
  z-index: 3;
}
.titles__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--bg-color2);
  position: relative;
  inset-inline-start: 100%;
  -webkit-transition: inset-inline-start 1.2s;
  transition: inset-inline-start 1.2s;
}
.titles__title:not(:last-child) {
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
@media (min-width: 48em) {
  .titles__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .titles__title {
    font-size: 3.125rem;
  }
}
.loaded .titles__title {
  inset-inline-start: 0;
}
.titles__about {
  font-weight: 500;
  line-height: 1.5;
  color: var(--dev-color);
  position: relative;
  inset-inline-start: 100%;
  -webkit-transition: inset-inline-start 2s;
  transition: inset-inline-start 2s;
}
@media (min-width: 48em) {
  .titles__about {
    font-size: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .titles__about {
    font-size: 1.5rem;
  }
}
.loaded .titles__about {
  inset-inline-start: 0;
}
.titles__about:not(:last-child) {
  -webkit-margin-after: 1.375rem;
          margin-block-end: 1.375rem;
}
.titles__about--small {
  font-size: 0.875rem;
}
@media (min-width: 48em) {
  .titles__about--small {
    font-size: 1rem;
  }
}
@media (min-width: 76.875em) {
  .titles__about--small {
    font-size: 1.375rem;
  }
}
.titles__list {
  position: relative;
  inset-inline-start: 100%;
  -webkit-transition: inset-inline-start 2s;
  transition: inset-inline-start 2s;
}
.titles__list:not(:last-child) {
  -webkit-margin-after: 0.625rem;
          margin-block-end: 0.625rem;
}
.loaded .titles__list {
  inset-inline-start: 0;
}

.items-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(36.25rem, 100%), 1fr));
  gap: 1.6875rem;
}
.items-services__body {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  inset-inline-start: -100%;
  -webkit-transition: inset-inline-start 1.2s;
  transition: inset-inline-start 1.2s;
}
@media (max-width: 80em) {
  .items-services__body {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.loaded .items-services__body {
  inset-inline-start: 0;
}
.items-services__item {
  line-height: 1.5;
  padding-block: 1.1875rem 0.9375rem;
  border-bottom: 0.0625rem solid var(--border-color);
}
.items-services__title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--bg-color2);
}
@media (min-width: 48em) {
  .items-services__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .items-services__title {
    font-size: 1.375rem;
  }
}
.items-services__about {
  color: var(--dev-color);
}
.items-services__image {
  max-width: 44.125rem;
  aspect-ratio: 706/496;
  border-radius: 1.25rem;
  position: relative;
  inset-inline-start: 100%;
  -webkit-transition: inset-inline-start 1.2s;
  transition: inset-inline-start 1.2s;
}
@media (max-width: 80em) {
  .items-services__image {
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.loaded .items-services__image {
  inset-inline-start: 0;
}
.items-services__image img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.25rem;
}

.main-contacts__body {
  position: relative;
  inset-inline-start: 100%;
  -webkit-transition: inset-inline-start 1.2s;
  transition: inset-inline-start 1.2s;
  background-color: var(--bg-color2);
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  padding-block: 3.25rem;
  padding-inline: 4.375rem;
  -webkit-margin-after: 2.75rem;
          margin-block-end: 2.75rem;
}
.loaded .main-contacts__body {
  inset-inline-start: 0;
}
@media (max-width: 48em) {
  .main-contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-margin-after: 0.75rem;
            margin-block-end: 0.75rem;
  }
}
@media (max-width: 76.875em) {
  .main-contacts__body {
    margin-inline: -1.875rem;
    -webkit-margin-after: 1.375rem;
            margin-block-end: 1.375rem;
  }
}
.main-contacts__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  -webkit-margin-after: 1.375rem;
          margin-block-end: 1.375rem;
}
.main-contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 8.9375rem;
     -moz-column-gap: 8.9375rem;
          column-gap: 8.9375rem;
}
@media (max-width: 48em) {
  .main-contacts__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.main-contacts__network {
  position: relative;
  inset-inline-start: 100%;
  -webkit-transition: inset-inline-start 1.8s;
  transition: inset-inline-start 1.8s;
  text-align: center;
}
.loaded .main-contacts__network {
  inset-inline-start: 0;
}
.main-contacts__network a {
  padding: 0.625rem;
  border-radius: 0.3125rem;
}
.main-contacts__facebook {
  background-color: var(--facebook-color);
}
.main-contacts__insta {
  background-color: var(--insta-color);
}
.main-contacts__whatsap {
  background-color: var(--whatsap-color);
}

.about {
  -webkit-padding-before: 2.1875rem;
          padding-block-start: 2.1875rem;
  -webkit-padding-after: 1.6875rem;
          padding-block-end: 1.6875rem;
}
@media (min-width: 48em) {
  .about {
    -webkit-padding-after: 3.5625rem;
            padding-block-end: 3.5625rem;
    -webkit-padding-before: 3.4375rem;
            padding-block-start: 3.4375rem;
  }
}
@media (min-width: 76.875em) {
  .about {
    -webkit-padding-after: 6.6875rem;
            padding-block-end: 6.6875rem;
    -webkit-padding-before: 5.3125rem;
            padding-block-start: 5.3125rem;
  }
}
.about__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(44.25rem, 100%), 1fr));
  -webkit-column-gap: 3.1875rem;
     -moz-column-gap: 3.1875rem;
          column-gap: 3.1875rem;
  row-gap: 1.25rem;
  -webkit-margin-after: 3.125rem;
          margin-block-end: 3.125rem;
  position: relative;
  inset-inline-start: 100%;
  -webkit-transition: inset-inline-start 1.2s;
  transition: inset-inline-start 1.2s;
}
.loaded .about__body {
  inset-inline-start: 0;
}
.about__image {
  max-width: 45rem;
  aspect-ratio: 720/403;
  border-radius: 1.25rem;
}
@media (max-width: 96.25em) {
  .about__image {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.about__image img {
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.25rem;
}
.about__item {
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 96.25em) {
  .about__item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.about__price {
  text-align: center;
}
.about__work {
  text-align: center;
  border-radius: 1.25rem;
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
  padding-block: 1.25rem;
  max-width: 37.5rem;
  margin-inline: auto;
  background-color: var(--call-color);
}

.skills {
  background: url("../img/uklid/main-image.webp") 0 0/cover no-repeat;
  position: relative;
  z-index: 3;
}
.skills::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0.7;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 1;
  background-color: var(--call-color);
}
.skills__container {
  -webkit-margin-after: 1.5625rem;
          margin-block-end: 1.5625rem;
}
@media (min-width: 48em) {
  .skills__container {
    -webkit-margin-after: 2.8125rem;
            margin-block-end: 2.8125rem;
  }
}
@media (min-width: 76.875em) {
  .skills__container {
    -webkit-margin-after: 5.3125rem;
            margin-block-end: 5.3125rem;
  }
}
.skills__body {
  border-radius: 1.25rem;
  padding-block: 1.5625rem;
}
@media (min-width: 48em) {
  .skills__body {
    padding-block: 2.8125rem;
  }
}
@media (min-width: 76.875em) {
  .skills__body {
    padding-block: 5.3125rem;
  }
}
.skills__header {
  text-align: center;
  max-width: 55.625rem;
  margin-inline: auto;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
@media (min-width: 76.875em) {
  .skills__header {
    -webkit-margin-after: 1.9375rem;
            margin-block-end: 1.9375rem;
  }
}
.skills__items {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(16.25rem, 100%), 1fr));
  gap: 0.8125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  counter-reset: item;
}
@media (min-width: 76.875em) {
  .skills__items {
    gap: 2.0625rem;
  }
}

.items-skills {
  line-height: 1.5;
}
.items-skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.loaded .items-skills__item {
  opacity: 1;
}
.items-skills__item::before {
  counter-increment: item;
  content: counter(item);
  inline-size: 3.125rem;
  block-size: 3.125rem;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 1rem;
  font-size: 1.8125rem;
  font-weight: 600;
  line-height: 0.9;
  color: var(--dev-color);
  border-radius: 50%;
  background: var(--bg-color);
}
@media (min-width: 76.875em) {
  .items-skills__item {
    gap: 1.875rem;
  }
}
.items-skills__title {
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 76.875em) {
  .items-skills__title {
    font-size: 1.5rem;
  }
}

.reference__container {
  -webkit-margin-after: 1.5625rem;
          margin-block-end: 1.5625rem;
}
@media (min-width: 48em) {
  .reference__container {
    -webkit-margin-after: 2.8125rem;
            margin-block-end: 2.8125rem;
  }
}
@media (min-width: 76.875em) {
  .reference__container {
    -webkit-margin-after: 5.9375rem;
            margin-block-end: 5.9375rem;
  }
}
.reference__header {
  text-align: center;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
.reference__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(31.25rem, 100%), 1fr));
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}
.reference__item {
  line-height: 1.5;
  max-width: 18.5rem;
  position: relative;
  inset-inline-start: 100%;
  -webkit-transition: inset-inline-start 1.2s;
  transition: inset-inline-start 1.2s;
}
.loaded .reference__item {
  inset-inline-start: 0;
}
.reference__name {
  color: var(--bg-color2);
  font-weight: 700;
}
.reference__text {
  color: var(--dev-color);
}

.footer {
  background-color: var(--bg-color2);
}
.footer__container {
  padding-block: 1.5625rem;
}
@media (min-width: 48em) {
  .footer__container {
    padding-block: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .footer__container {
    padding-block: 5.3125rem;
  }
}
.footer__body {
  text-align: center;
}

.contacts__header {
  -webkit-margin-after: 1.0625rem;
          margin-block-end: 1.0625rem;
}
@media (min-width: 48em) {
  .contacts__header {
    -webkit-margin-after: 1.6875rem;
            margin-block-end: 1.6875rem;
  }
}
@media (min-width: 76.875em) {
  .contacts__header {
    -webkit-margin-after: 2.3125rem;
            margin-block-end: 2.3125rem;
  }
}
.contacts__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
@media (min-width: 48em) {
  .contacts__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .contacts__title {
    font-size: 3.125rem;
  }
}
.contacts__about {
  line-height: 1.5;
  -webkit-margin-after: 1.0625rem;
          margin-block-end: 1.0625rem;
}
.contacts__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev {
  background-color: var(--bg-color);
  text-align: center;
  color: var(--dev-color);
}
@media (min-width: 48em) {
  .dev {
    font-size: 1rem;
  }
}
@media (min-width: 76.875em) {
  .dev {
    font-size: 1.25rem;
  }
}