:root {
  --bg-color: #f9e5da;
  --bg-color2: #28293e;
  --main-color-text: #fff;
  --call-color: #ef6c58ec;
  --hover-head-menu: #f6d021;
  --dev-color: #222021;
  --border-color: #222;
  --facebook-color: #3b5998;
  --insta-color: #262626;
  --whatsap-color: #25d366;
  --back-price: #dd183b;
}