@font-face {
	font-family: "icons";
	src: url("/fonts/icons.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class*=" -icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons";
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.-icon-arrow-scroll:before {
	content: "\e900";
}
.-icon-facebook-icon:before {
	content: "\e901";
}
.-icon-insta-icon:before {
	content: "\e902";
}
.-icon-linkedin-icon:before {
	content: "\e903";
}
.-icon-mail-icon:before {
	content: "\e904";
}
.-icon-send-icon:before {
	content: "\e905";
}
.-icon-twitter-icon:before {
	content: "\e906";
}
