@use "sass:math";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
// @import url("https://fonts.googleapis.com/css?family=Manrope:400,500,600,700&display=swap");
@import "_mixins.scss";
/* Локальне підключення шрифтів */
@import "_fonts.scss";
// Іконочний шрифт
@import url("iconstylefonts.css");
/* Скидання стилів */
@import url("reset.css");
// Змінні
@import url("variables.css");
// Mixins template

/* Основні стилі */
html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--main-bg);
	color: var(--color-text);
	font-family: "Alexandria", sans-serif;
	font-size: toRem(14);
	line-height: normal;
	opacity: 0;
	transition: opacity 1.5s;
	@media (min-width: toEm(768)) {
		font-size: toRem(16);
	}
	.loaded & {
		opacity: 1;
	}
}
a,
button {
	transition:
		color 0.3s,
		background-color 0.3s,
		transform 0.3s;
	// 	opacity 0.3s;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
main {
	flex-grow: 1;
}
summary::-webkit-details-marker {
	display: none;
}
summary {
	list-style: none;
}
.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */
	display: flex;
	flex-direction: column;
}
//=====================================================================
[class*="__container"] {
	max-width: toRem(1230);
	margin-inline: auto;
	padding-inline: toRem(15);
}
//=======Header========================================================
.header {
	position: fixed;
	inline-size: 100%;
	z-index: 100000;
	// .header__container
	&__container {
		padding-block: toRem(20);
	}
	// .header__body
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: toRem(30);
		@media (min-width: toEm(620)) {
			grid-template-columns: 1fr 1fr auto;
		}
		@media (min-width: toEm(960)) {
			grid-template-columns: 1fr auto 1fr;
		}
	}
	// header__logo
	&__logo {
		position: relative;
		z-index: 6;
	}
	// .header__menu
	&__menu {
		display: flex;
		@media (max-width: toEm(960)) {
			position: absolute;
			inset-inline-end: 0;
			inset-block-start: -1000%;
			inline-size: 100%;
			justify-content: center;
			padding-block-start: toRem(100);
			transition: inset-block-start 0.3s;
		}
		.menu-open & {
			inset-block-start: 0;
			backdrop-filter: blur(20px);
			background-color: black;
		}
	}
	// .header__actions
	&__actions {
		justify-self: end;
		display: none;
		gap: toRem(16);
		position: relative;
		z-index: 6;
		.action__button {
			padding-block: toRem(8);
		}
		@media (min-width: toEm(620)) {
			display: flex;
		}
	}
	// .header__item
	&__item {
		width: toRem(24);
		height: toRem(24);
		position: relative;
		justify-self: end;
		&::before,
		&::after,
		span {
			content: "";
			block-size: toRem(2);
			inline-size: 100%;
			background-color: var(--color-text-2);
			position: absolute;
			inset-inline-start: 0;
			transition: all 0.3s;
		}
		&::after {
			inset-block-end: 0;
			.menu-open & {
				inset-block-end: 50%;
				transform: translateY(toRem(1)) rotate(45deg);
			}
		}
		&::before {
			inset-block-start: 0;
			.menu-open & {
				inset-block-start: 50%;
				transform: translateY(toRem(-1)) rotate(-45deg);
			}
		}
		span {
			.menu-open & {
				display: none;
				opacity: 0;
			}
		}
		position: relative;
		@media (min-width: toEm(960)) {
			display: none;
		}
	}
}
.menu {
	// .menu__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
		padding-block: toRem(28);
		@media (min-width: toEm(960)) {
			padding-block: toRem(8);
		}
	}
	// .menu__list
	&__list {
		display: flex;
		gap: toRem(20);
		flex-wrap: wrap;
		flex-direction: column;
		padding-inline: toRem(24);
		@media (min-width: toEm(960)) {
			flex-direction: row;
			gap: toRem(40);
			padding-inline: 0;
		}
	}
	// .menu__link
	&__link {
		&:hover {
			color: var(--text-hover);
		}
	}
	// .menu__actions
	&__actions {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
		align-items: start;
		.action__button {
			padding-block: toRem(8);
		}
		@media (min-width: toEm(960)) {
			display: none;
		}
	}
}
.header.header-scroll {
	backdrop-filter: blur(20px);
}
//=======Hero==========================================================
.hero {
	position: relative;
	// .hero__container
	&__container {
		padding-block: toRem(112) toRem(40);
		@media (min-width: toEm(768)) {
			padding-block: toRem(156) toRem(64);
		}
		@media (min-width: toEm(1440)) {
			padding-block: toRem(176) toRem(88);
		}
	}
	// .hero__decor
	&__decor {
		width: toRem(600);
		height: toRem(600);
		border-radius: 50%;
		background: rgba(74, 90, 236, 0.16);
		filter: blur(139.89999389648438px);
		position: absolute;
		inset-inline-start: 0;
		inset-block-start: 0%;
	}
	// .hero__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(toRem(500), 100%), 1fr));
		gap: toRem(32);
	}
	// .hero__item
	&__item {
		&:nth-child(1) {
			@media (min-width: toEm(768)) {
				padding-block: toRem(70);
			}
		}
		&:nth-child(2) {
			opacity: 0;
			transition: opacity 8s;
			.animate & {
				opacity: 1;
			}
		}
	}
}
.item-hero {
	// .item-hero__header
	&__header {
		margin-block-end: toRem(32);
		@media (min-width: toEm(768)) {
			margin-block-end: toRem(40);
		}
		&.titles {
			@media (min-width: toEm(768)) {
				gap: toRem(24);
				align-items: baseline;
			}
		}
		.titles__label {
			max-width: toRem(137);
			display: flex;
			align-items: center;
			gap: toRem(8);
			&--before {
				&::before {
					content: "";
					width: toRem(9);
					height: toRem(9);
					border-radius: 50%;
					background-color: var(--button-bg);
				}
			}
		}
		.titles__about {
			text-align: left;
		}
	}
	// .item-hero__block
	&__block {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
		gap: toRem(20);
		@media (min-width: toEm(450)) {
			flex-direction: row;
		}
		.action__button {
			&:nth-child(1) {
				transform: translateX(-1000%);
				transition: transform 1.7s;
				.animate & {
					transform: translateX(0);
				}
			}
			&:nth-child(2) {
				display: flex;
				align-items: center;
				gap: toRem(6);
				border-radius: toRem(40);
				border: 1.5px solid var(--Gradient-1, #4d4d4d);
				transform: translateX(-1000%);
				transition: transform 1.4s;
				.animate & {
					transform: translateX(0);
				}
			}
		}
	}
	// .item-hero__img
	&__img {
		max-width: toRem(512);
		aspect-ratio: 1 / 1;
	}
}
//======Partners=======================================================
.partners {
	background-color: var(--partner-bg);
	// .partners__container
	&__container {
		padding-block: toRem(40);
	}
	// .partners__title
	&__title {
		text-align: center;
		margin-block-end: toRem(32);
		@media (min-width: toEm(768)) {
			margin-block-end: toRem(40);
		}
	}
	// .partners__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: toRem(20);
		row-gap: toRem(16);
		@media (min-width: toEm(768)) {
			gap: toRem(72);
		}
	}
	// .partners__img
	&__img {
		max-width: toRem(130);
		aspect-ratio: 130 / 32;
		opacity: 0;
		transition: opacity 8s;
		.animate & {
			opacity: 1;
		}
	}
}
//======Future=========================================================
.future {
	// .future__container
	&__container {
		padding-block: toRem(40);
		@media (min-width: toEm(768)) {
			padding-block: toRem(80);
		}
	}
	// .future__header
	&__header {
		margin-block-end: toRem(32);
		@media (min-width: toEm(768)) {
			margin-block-end: toRem(80);
		}
	}
	// .future__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(toRem(384), 100%), 1fr));
		justify-content: center;
		gap: toRem(16);
		@media (min-width: toEm(768)) {
			gap: toRem(24);
		}
	}
	// .future__item
	&__item {
		text-align: center;
		border-radius: toRem(12);
		border: toRem(1) solid #4d4d4d;
		background: rgba(255, 255, 255, 0.04);
		padding: toRem(30) toRem(24);
		transform: translateX(-1000%);
		transition: transform 1s;
		.animate & {
			transform: translateX(0);
		}
		@media (min-width: toEm(768)) {
			padding: toRem(48) toRem(36);
		}
	}
}
.item-future {
	// .item-future__img
	&__img {
		max-width: toRem(48);
		aspect-ratio: 1 / 1;
		margin-inline: auto;
		margin-block-end: toRem(36);
	}
	// .item-future__title
	&__title {
		font-size: toRem(20);
		line-height: 1.4;
		color: var(--text-hover);
		margin-block-end: toRem(16);
	}
}
//======Product========================================================
.product {
	@extend .partners;
	// .product__container
	&__container {
		padding-block: toRem(40);
		@media (min-width: toEm(768)) {
			padding-block: toRem(120);
		}
	}
	// .product__header
	&__header {
		margin-block-end: toRem(32);
		@media (min-width: toEm(768)) {
			margin-block-end: toRem(72);
		}
	}
	// .product__items
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: toRem(24);
		flex-direction: column;
		@media (min-width: toEm(520)) {
			flex-direction: row;
		}
		@media (min-width: toEm(768)) {
			gap: toRem(72);
		}
	}
	// .product__item
	&__item {
		transform: translateX(-10000%);
		transition: transform 1s;
		.animate & {
			transform: translateX(0);
		}
	}
}
.item-product {
	// .item-product__number
	&__number {
		font-size: toRem(48);
		line-height: 1; /* 48px */
		text-transform: capitalize;
		color: var(--button-bg);
		margin-block-end: toRem(12);
		@media (min-width: toEm(768)) {
			margin-block-end: toRem(20);
		}
	}
	// .item-product__title
	&__title {
		text-align: center;
		font-size: toRem(20);
		line-height: 1.4;
	}
}
//======About==========================================================
.about {
	// .about__container
	&__container {
		padding-block: toRem(40);
		@media (min-width: toEm(768)) {
			padding-block: toRem(60);
		}
	}
	// .about__header
	&__header {
		@extend .future__header;
	}
	// .about__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(toRem(450), 100%), 1fr));
		gap: toRem(32);
		align-items: center;
		justify-content: center;
		justify-items: center;
		@media (min-width: toEm(768)) {
			gap: toRem(72);
		}
	}
	// .about__item
	&__item {
		&:nth-child(1) {
			opacity: 0;
			transition: opacity 6s;
			.animate & {
				opacity: 1;
			}
		}
	}
}
.item-about {
	// .item-about__img
	&__img {
		max-width: toRem(506);
		aspect-ratio: 1 / 1;
	}
	// .item-about__section
	&__section {
		display: flex;
		flex-direction: column;
		gap: toRem(16);
		overflow: hidden;
		@media (min-width: toEm(768)) {
			gap: toRem(40);
		}
	}
	// .item-about__box
	&__box {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: toRem(20);
		border-radius: toRem(20);
		border: toRem(1) solid #4d4d4d;
		background: var(--partner-bg);
		transform: translateY(-1000%);
		transition: transform 1s;
		.animate & {
			transform: translateX(0);
		}
		padding: toRem(24) toRem(20);
		@media (min-width: toEm(768)) {
			gap: toRem(24);
			padding: toRem(30) toRem(20);
		}
	}
	// .item-about__icon
	&__icon {
		max-width: toRem(30);
		aspect-ratio: 1 / 1;
	}
	// .item-about__title
	&__title {
		font-size: toRem(20);
		line-height: 1.4;
		margin-block-end: toRem(8);
		color: var(--text-hover);
	}
}
//======Testimonials===================================================
.testimonials {
	background-color: var(--partner-bg);
	// .testimonials__container
	&__container {
		@extend .future__container;
	}
	// .testimonials__header
	&__header {
		@extend .product__header;
	}
	// .testimonials__items
	&__items {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
	}
	// .testimonials__swiper
	&__swiper {
		-webkit-mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
		mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
		width: calc(100vw - 40px); /* мінус відступи контейнера */
		margin-left: calc(-50vw + 50% + 20px);
	}
	// .testimonials__slide
	&__slide {
		padding: toRem(32);
		border-radius: toRem(16);
		border: toRem(1) solid #4d4d4d;
		background: var(--main-bg);
		backdrop-filter: blur(4.591224193572998px);
		max-width: toRem(373);
	}
	// .testimonials__text
	&__text {
		max-width: toRem(373);
		color: var(--color-text-3);
		margin-block-end: toRem(24);
		@media (min-width: toEm(768)) {
			margin-block-end: toRem(32);
		}
	}
	// .testimonials__block
	&__block {
		display: flex;
		align-items: center;
		gap: toRem(16);
	}
	// .testimonials__img
	&__img {
		max-width: toRem(48);
		aspect-ratio: 1 / 1;
	}
	// .testimonials__name
	&__name {
		font-size: toRem(14);
		color: var(--color-text-2);
	}
	// .testimonials__about
	&__about {
		font-size: toRem(12);
		color: #4d4d4d;
	}
	// .testimonials__swiper-next
	&__swiper-next {
		@extend .testimonials__swiper;
	}
}
//======FAQ============================================================
.faq {
	// .faq__container
	&__container {
		@extend .testimonials__container;
	}
	// .faq__header
	&__header {
		@extend .product__header;
	}
	// .faq__items
	&__items {
		display: flex;
		flex-direction: column;
		margin-inline: auto;
		max-width: toRem(750);
		gap: toRem(30);
	}
	// .faq__spoiler
	&__spoiler {
		padding: toRem(16) toRem(20);
		border: toRem(1) solid #2e2e2e;
		min-height: toRem(56);
		transform: translateX(-1000%);
		transition: transform 1s;
		.animate & {
			transform: translateX(0);
		}
	}
	// .faq__body
	&__body {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: toRem(20);
		// align-items: center;
		width: 100%;
		cursor: pointer;
		flex-basis: 100%;
		color: var(--text-hover);
		&:hover {
			color: var(--button-bg);
		}
		&::before {
			height: toRem(20);
			width: toRem(20);
			display: flex;
			overflow: hidden;
			flex-shrink: 0;
			align-self: center;
			justify-content: center;
			align-items: center;
			transition: height 0.3s;
			[open] & {
				// transform: translateY(0.625rem);
				height: toRem(1.5);
				//
			}
		}
	}
	// .faq__content
	&__content {
		[open] & {
			padding-block-start: toRem(25);
		}
	}
}
//=======Revolutionary=================================================
.revolutionary {
	background-color: var(--partner-bg);
	// .revolutionary__continer
	&__continer {
		@extend .future__container;
	}
	&__header {
		.action__button {
			border-radius: 0;
			transform: translateX(-1000%);
			transition: transform 1s;
			.animate & {
				transform: translateX(0);
			}
		}
		.titles__title {
			text-align: center;
			max-width: toRem(878);
			margin-inline: auto;
		}
	}
}
//=======Footer========================================================
.footer {
	// .footer__items
	&__items {
		padding-block-start: toRem(40);
		display: grid;
		grid-template-columns: 1fr;
		gap: toRem(40);
		justify-content: space-between;
		@media (min-width: toEm(860)) {
			grid-template-columns: 1fr 0.4fr;
			padding-block: toRem(40);
		}
	}
	// .footer__section
	&__section {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: toRem(40);
		align-items: center;
		justify-content: space-between;
		@media (min-width: toEm(430)) {
			flex-direction: row;
			gap: toRem(92);
			align-items: start;
		}
		.footer__item {
			flex-grow: 1;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(min(toRem(200), 100%), 1fr));
			justify-content: space-between;
			row-gap: toRem(50);
			justify-content: start;
		}
	}

	// .footer__rights
	&__rights {
		padding-block: toRem(20);
		text-align: center;
		@media (min-width: toEm(460)) {
			padding-block: toRem(40);
		}
	}
}
.item-footer {
	// .item-footer__section
	&__section {
		text-align: center;
		@media (min-width: toEm(460)) {
			text-align: left;
		}
	}
	// .item-footer__title
	&__title {
		font-size: toRem(20);
		margin-block-end: toRem(12);
		line-height: 1.4;
		color: #e5e5e5;
		@media (min-width: toEm(768)) {
			margin-block-end: toRem(24);
		}
	}
	// .item-footer__lists
	&__lists {
		font-size: toRem(14);
		@media (min-width: toEm(460)) {
			text-align: left;
		}
		& > :not(:last-child) {
			margin-block-end: toRem(8);
		}
	}
	// .item-footer__link
	&__link {
		&:hover {
			color: #e5e5e5;
		}
	}
}
.section-form {
	// .section-form__title
	&__title {
		@extend .item-footer__title;
		color: #d8d8d8;
		max-width: 100%;
		margin-block-end: toRem(20);
		@media (min-width: toEm(768)) {
			max-width: toRem(198);
		}
	}
	// .section-form__form
	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(30);
		padding-block-end: toRem(16);
		border-bottom: toRem(0.5) solid #999;
	}
}
.form {
	// .form__block
	&__block {
		padding-block: toRem(11);
	}
	// .form__input
	&__input {
		::placeholder {
			font-size: toRem(14);
		}
	}
	// .form__button
	&__button {
		width: toRem(40);
		height: toRem(40);
		border-radius: 50%;
		background-color: var(--button-bg);
		text-align: center;
		font-size: toRem(18);
		padding-block: toRem(11);
		transition: box-shadow 0.3s;
		&:hover {
			box-shadow: toRem(0) toRem(0) toRem(20) toRem(1) var(--button-bg);
		}
	}
}
.-icon-arrow {
	color: #000;
}
//=======Components====================================================
.logo {
	display: flex;
	align-items: center;
	gap: toRem(11);
	// .logo__image
	&__image {
		max-width: toRem(32);
		aspect-ratio: 1 / 1;
	}
	// .logo__name
	&__name {
		font-size: toRem(22);
		font-weight: 500;
		color: var(--color-text-2);
	}
}
.action {
	// .action__button
	&__button {
		color: var(--color-text-2);
		padding: toRem(14) toRem(24);
		&:hover {
			color: var(--button-bg);
		}
	}
	// .action__button--bg
	&__button--bg {
		background-color: var(--button-bg);
		color: var(--main-bg);
		border-radius: toRem(40);
		&:hover {
			background-color: transparent;
			outline: toRem(1) solid var(--button-bg);
		}
	}
}
.titles {
	display: flex;
	flex-direction: column;
	gap: toRem(16);
	text-align: center;
	align-items: center;
	margin-inline: auto;
	position: relative;
	@media (min-width: toEm(768)) {
		gap: toRem(20);
		text-align: left;
	}
	// .titles__decor
	&__decor {
		position: absolute;
		inset-inline-start: 25%;
		inset-block-start: 0;
		z-index: 3;
		width: toRem(606);
		height: toRem(425);
		border-radius: 50%;
		background: rgba(74, 90, 236, 0.06);
		filter: blur(139.89999389648438px);
		pointer-events: none;
	}
	// .titles__label
	&__label {
		color: var(--button-bg);
		font-size: toRem(14);
		border-radius: toRem(24);
		border: toRem(1) solid #4d4d4d;
		backdrop-filter: blur(20px);
		padding: toRem(10) toRem(12);
		transform: translateX(-1000%);
		transition: transform 1s;
		.animate & {
			transform: translateX(0);
		}
	}
	// .titles__title
	&__title {
		text-transform: capitalize;
		line-height: 1;
		font-size: toRem(28);
		color: var(--text-hover);
		transform: translateX(-1000%);
		transition: transform 1.2s;
		.animate & {
			transform: translateX(0);
		}
		@media (min-width: toEm(768)) {
			font-size: toRem(48);
		}
		&--big {
			font-size: toRem(40);
			font-weight: 500;
			line-height: 1.1; /* 70.4px */
			@media (min-width: toEm(768)) {
				font-size: toRem(54);
				font-weight: 700;
			}
			@media (min-width: toEm(1440)) {
				font-size: toRem(64);
			}
		}
	}
	// .titles__about
	&__about {
		text-align: center;
		max-width: toRem(690);
		font-size: toRem(16);
		line-height: 1.4;
		transform: translateX(-1000%);
		transition: transform 1.3s;
		.animate & {
			transform: translateX(0);
		}
		@media (min-width: toEm(768)) {
			font-size: toRem(18);
		}
		&--big {
			font-size: toRem(16);
			@media (min-width: toEm(768)) {
				font-size: toRem(20);
			}
		}
	}
}
//=====================================================================
