// Змінні кольорів
:root {
	--main-bg: #fff;
	--bg-2: rgba(255, 221, 204, 0.25);

	--color-bg-text-hover: #eb0029;
	--color-hover-btn: #fee9de;

	--bg-decor: #f2c94c;

	--color-text: #010f1c;
	--color-text-2: #333;
	--color-text-3: #000;
}
