// header
.header {
   position: sticky;
   inset-inline-start: 0;
   inset-block-start: 0;
   z-index: 100000;

   background-color: var(--color-white);

   &::after {
      content: "";
      inline-size: 100%;
      block-size: toRem(1);
      background-color: var(--color-grey-19);
      position: absolute;
      z-index: 6;
   }

   // .header__items

   &__items {
      padding-block: toRem(24);
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(min(toRem(280), 100%), 1fr));
      grid-template-columns: 1fr 1fr auto;
      gap: toRem(15);
      align-items: center;
      position: relative;

      @media (min-width: toEm(768)) {
         padding-block: toRem(16);

         grid-template-columns: repeat(4, auto);
      }
   }

   // .header__logo

   &__logo {
      padding-block: toRem(9);

      position: relative;
      z-index: 6;
   }

   // .header__menu

   &__menu {
      justify-self: end;

      position: fixed;
      inset-inline-end: -100%;
      inset-block-start: 0;
      z-index: 5;

      transition: inset-inline-end 0.2s ease;

      &.active {
         inset-inline-end: 0;
      }
      @media (min-width: toEm(768)) {
         position: relative;
         inset-inline-end: 0;
      }
      @media (max-width: toEm(768)) {
         inline-size: 100%;
         block-size: 100%;
         background-color: var(--color-white);
      }
   }

   // .header__actions

   &__actions {
      &.actions {
         display: flex;
      }
   }

   // .header__item

   &__item {
      justify-self: end;
   }
}

// search input
.search-input {
   display: none;
   align-items: center;
   gap: toRem(8);
   padding: toRem(16);
   border-radius: toRem(8);
   background-color: var(--color-grey-1);

   @media (min-width: toEm(768)) {
      display: flex;
   }
}

// logo
.logo {
   // .logo__name

   &__name {
      font-size: toRem(22);
   }

   // .logo__about

   &__about {
      color: var(--color-grey-3);
      font-weight: 500;
      line-height: 170.5%; /* 23.87px */

      @media (max-width: toEm(768)) {
         font-size: toRem(13);
      }
   }
}

// menu-nav
.menu {
   // .menu__item

   &__item {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: toRem(24);
      position: relative;
      z-index: 6;
      padding-block-start: toRem(110);
      padding-inline-end: toRem(15);

      inline-size: 100%;
      block-size: 100%;

      @media (min-width: toEm(768)) {
         flex-direction: row;
         align-items: center;
         gap: toRem(52);

         padding: 0;
      }
   }

   // .menu__list

   &__list {
      &.actions {
         display: flex;

         @media (min-width: toEm(768)) {
            display: none;
         }
      }
   }

   // .menu__link

   &__link {
      transition: opacity 0.2s ease;
      opacity: 0.3;

      &.active-button {
         opacity: 1;
      }
   }
}

@media (any-hover: hover) {
   .menu__link:hover {
      opacity: 1;
   }
}

// actions-icons
.actions {
   justify-self: end;
   display: flex;
   gap: toRem(24);
   font-size: toRem(19);

   // .actions__link

   &__link {
      transition:
         color 0.2s ease,
         transform 0.2s ease;

      // .actions__link--cart
      &--cart {
         position: relative;
      }
   }

   // .actions__link-cart-count
   &__link-cart-count {
      position: absolute;
      inset-inline-end: toRem(-7);
      inset-block-start: toRem(-10);

      font-size: toRem(13);

      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--color-white);

      width: toRem(20);
      height: toRem(20);

      border-radius: 50%;
      background-color: var(--color-black);
   }
}

@media (any-hover: hover) {
   .actions__link:hover {
      color: #2f80ed;
      transform: translateY(toRem(-2));
   }
}

// burger-button
.burger-menu {
   display: flex;
   flex-direction: column;
   gap: toRem(5);
   width: toRem(25);
   position: relative;
   z-index: 6;

   &.active {
      gap: 0;
   }

   &::after {
      content: "";
      inline-size: 100%;
      block-size: toRem(2.5);
      background-color: var(--color-black);

      transition: transform 0.2s ease;
   }
   &::before {
      content: "";
      inline-size: 100%;
      block-size: toRem(2.5);
      background-color: var(--color-black);

      transition: transform 0.2s ease;
   }
   span {
      display: inline-block;
      inline-size: 100%;
      block-size: toRem(2.5);
      background-color: var(--color-black);
      transition: inline-size 0.2s ease;
   }

   &.active span {
      display: none;
      inline-size: 0;
   }
   &.active::after {
      transform: rotate(45deg) translateX(toRem(-2));
   }
   &.active::before {
      transform: rotate(-45deg) translateX(toRem(-1));
   }

   @media (min-width: toEm(768)) {
      display: none;
   }
}

// title-block
.title-block {
   display: flex;
   flex-direction: column;
   gap: toRem(16);
   text-align: center;

   @media (min-width: toEm(768)) {
      text-align: left;
      gap: toRem(24);
   }

   // .title-block__label

   &__label {
      font-size: toRem(25);
      font-weight: 600;
      line-height: 1.28; /* 128% */
      opacity: 0.4;
   }

   // .title-block__title

   &__title {
      &--hero {
         font-size: clamp(4.5rem, 2.286vw + 3.943rem, 6rem);
         font-weight: 100;
         line-height: 72px; /* 75% */
         letter-spacing: -0.96px;
      }
   }

   // .title-block__span-colored

   &__span-fw {
      font-weight: 600;
   }

   // .title-block__span-fw-5

   &__span-fw-5 {
      font-weight: 500;
   }

   // .title-block__about

   &__about {
      font-size: toRem(14);
      font-weight: 500;
      line-height: 1.333; /* 133.333% */
      color: var(--color-grey-20);

      margin-block-end: toRem(16);

      @media (min-width: toEm(768)) {
         margin-block-end: 0;
      }

      &--hero {
         font-size: toRem(18);
      }
   }
}

// buttons
.buttons {
   // .buttons__button

   &__button {
      border-radius: toRem(6);
      padding: toRem(16) toRem(56);

      font-size: toRem(16);

      border: 1px solid var(--color-white);

      text-align: center;

      // .buttons__button--product
      &--product {
         color: var(--color-white);
         background-color: var(--color-black);
         padding-block: toRem(12);
         padding-inline: toRem(39);
         font-size: toRem(14);

         @media (min-width: toEm(768)) {
            padding-inline: toRem(56);
         }
      }

      // .buttons__button--wishlist
      &--wishlist {
         border: 1px solid var(--color-black);
         background: var(--color-white);
      }

      // .buttons__button--cart
      &--cart {
         color: var(--color-white);
         background: var(--color-black);
      }

      // .buttons__button--details
      &--details {
         @extend .buttons__button--wishlist;

         display: flex;
         flex-direction: row-reverse;
         align-items: center;
         gap: toRem(18);

         &::before {
            transform: rotate(-90deg);
            transition: transform 0.2s ease;
         }
         &.active::before {
            transform: rotate(90deg);
         }
      }

      // .buttons__button--testemonials
      &--testemonials {
         @extend .buttons__button--details;
      }

      // .buttons__button--checkout
      &--checkout {
         color: var(--color-white);
         background: var(--color-black);
         width: 100%;
      }

      // .buttons__button--back
      &--back {
         border: 1px solid var(--color-black);

         padding-block: toRem(24);
         padding-inline: toRem(60);

         @media (min-width: toEm(768)) {
            padding-inline: toRem(86);
         }

         // width: 100%;
      }
      // .buttons__button--next
      &--next {
         color: var(--color-white);
         background: var(--color-black);

         padding-block: toRem(24);
         padding-inline: toRem(60);

         @media (min-width: toEm(768)) {
            padding-inline: toRem(86);
         }

         // width: 100%;
      }
      // .buttons__button--pay
      &--pay {
         @extend .buttons__button--next;
         width: 100%;
      }
   }
}

@media (any-hover: hover) {
   .buttons__button:hover {
      background-color: var(--color-black);
      border-color: var(--color-black);

      color: var(--color-white);
   }
   .buttons__button--wishlist:hover {
      color: var(--color-white);
   }
   .buttons__button--back:hover {
      background-color: var(--color-grey-4);
   }
}

// footer
.footer {
   background-color: var(--color-black);
   color: var(--color-white);
   // .footer__container

   &__container {
      padding-block: toRem(48);

      @media (min-width: toEm(768)) {
         padding-block: toRem(104);
      }
   }

   // .footer__items

   &__items {
      display: flex;
      justify-content: center;
      text-align: center;
      gap: toRem(32);
      flex-wrap: wrap;

      margin-block-end: toRem(32);

      @media (min-width: toEm(768)) {
         margin-block-end: toRem(24);
         justify-content: space-between;

         text-align: left;
      }
   }

   // .footer__logo

   &__logo {
      max-width: toRem(384);

      display: flex;
      flex-direction: column;
      gap: toRem(16);

      @media (min-width: toEm(768)) {
         gap: toRem(24);
      }
   }

   // .footer__title

   &__title {
      font-size: toRem(16);
      font-weight: 600;
      line-height: 1; /* 100% */
      margin-block-end: toRem(8);
   }

   // .footer__list

   &__list {
      line-height: 2.28; /* 228.571% */

      display: flex;
      flex-direction: column;
      gap: toRem(8);

      color: var(--color-grey-3);
   }

   // .footer__socials

   &__socials {
      display: flex;
      gap: toRem(36);
      justify-content: center;

      font-size: toRem(24);

      @media (min-width: toEm(768)) {
         font-size: toRem(16);

         justify-content: start;
      }
   }
}

// breadcrumbs
.breadcrumbs {
   // .breadcrumbs__menu

   &__menu {
      padding-block: toRem(40);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: toRem(16);

      color: var(--color-grey-28);

      // font-size: toRem(16);
      font-weight: 500;
      line-height: 1;
   }

   // .breadcrumbs__list

   &__list {
      &.active {
         color: var(--color-black);
      }
   }
}

// toast notification
.toast {
   position: fixed;

   inset-block-start: toRem(20);
   inset-inline-start: 50%;

   transform: translateX(-50%);

   z-index: 999999;

   min-width: toRem(300);

   padding: toRem(16) toRem(24);

   border-radius: toRem(12);

   background-color: var(--color-black);
   color: var(--color-white);

   opacity: 0;
   visibility: hidden;

   transition:
      opacity 0.3s ease,
      transform 0.3s ease;

   &.show {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
   }
}

// стрілка на гору
.scroll-top {
   position: fixed;
   right: 20px;
   bottom: 20px;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background: #000;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: all 0.3s ease;
   z-index: 100;
}

.scroll-top.active {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
}

.scroll-top::before {
   transform: rotate(90deg);
}
