// Змінні кольорів
:root {
	--main-bg: #1a1a1a;
	--bg-2: #252525;

	--color-head-border: hsla(0, 0%, 100%, 0.1);
	--color-arrow: #4d4d4d;

	--color-text: #fff;
	--color-text-2: #a6a6a6;
	--color-text-3: #737373;
	--color-button: #1a1a1a;
	--color-text-4: #d9d9d9;
	--color-text-5: #303030;
	--color-text-6: #191919;
	--color-text-7: rgba(255, 255, 255, 0.5);
	--color-text-8: #a4a8b2;
	--color-text-9: #85878c;
	--color-text-10: #252525;
	--color-text-11: #b3b3b3b3;
	--color-text-12: #bfbfbf;
	--color-text-13: rgba(255, 255, 255, 0.7);

	--hover-logo-color: #34c759;
	--hover-button-color: #1f7635;
	--color-small-border: rgba(48, 48, 48, 1);
	--bg-recepies-title: rgba(0, 0, 0, 0.3);
	--bg-recepies-header: rgba(0, 0, 0, 0.8);
	--before-bg-card: rgba(0, 0, 0, 0.5);
}
