.about {
   line-height: 1.5;

   // .about__head

   &__head {
      &.banner-block {
         @include bannerSize(toRem(358), 358, 212);

         @media (min-width: toEm(480)) {
            @include bannerSize(toRem(1596), 1596, 366);
         }
      }
      .banner-block__text {
         max-width: toRem(996);
      }
   }

   // .about__body

   &__body {
      border: 1px solid var(--color-grey-15);
      padding-block: toRem(40);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: toRem(30);

      @media (min-width: toEm(768)) {
         gap: toRem(100);

         padding-block: toRem(80);
      }
      @media (min-width: toEm(1440)) {
         padding-block: toRem(100);
      }
   }

   // .about__text-block

   &__text-block {
      max-width: toRem(598);

      display: flex;
      flex-direction: column;
      gap: toRem(16);

      @media (min-width: toEm(1440)) {
         gap: toRem(20);
      }
   }

   // .about__subtitle

   &__subtitle {
      font-size: clamp(1.75rem, 1.307vw + 1.431rem, 3rem);
      font-weight: 600;
      line-height: normal;
   }

   // .about__text

   &__text {
      color: var(--color-grey-90);
      font-size: clamp(0.875rem, 0.392vw + 0.779rem, 1.25rem);
   }

   // .about__img-block

   &__img-block {
      max-width: toRem(598);
      aspect-ratio: 598 / 571;
   }
}

.story {
   // .story__title

   &__title {
      padding-block: toRem(40);
      padding-inline-start: toRem(24);

      border: 1px solid var(--color-grey-15);

      line-height: normal;
      font-weight: 600;
      font-size: clamp(2.375rem, 1.307vw + 2.056rem, 3.625rem);

      @media (min-width: toEm(768)) {
         padding-block: toRem(80);
         padding-inline-start: toRem(40);
      }
      @media (min-width: toEm(1440)) {
         padding-block: toRem(100);
         padding-inline-start: toRem(50);
      }
   }
}
