.works-hero {
   .banner-block {
      @include bannerSize(toRem(358), 358, 212);

      @media (min-width: toEm(480)) {
         @include bannerSize(toRem(1596), 1596, 372);
      }
   }
}

.portfolio {
   line-height: 1.5;

   // .portfolio__head

   &__head {
      @extend .services__block;
   }

   // .portfolio__list

   &__list {
      border: 1px solid var(--color-grey-15);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(toRem(600), 100%), 1fr));
   }
}
.portfolio-items {
   // .portfolio-items__list-item

   &__list-item {
      display: flex;
      flex-direction: column;
      gap: toRem(30);
      border: 1px solid var(--color-grey-15);
      padding-block-end: toRem(40);

      @media (min-width: toEm(768)) {
         padding-block-end: toRem(80);
      }
      @media (min-width: toEm(1440)) {
         padding-block-end: toRem(100);
      }
   }

   // .portfolio-items__title

   &__title {
      color: var(--color-grey-60);
      font-size: toRem(20);
      line-height: normal;
      font-weight: 500;

      border-bottom: 1px solid var(--color-grey-15);

      padding-block: toRem(20);
      padding-inline: toRem(24);

      @media (min-width: toEm(768)) {
         padding-block: toRem(24);

         padding-inline: toRem(40);
      }
      @media (min-width: toEm(1440)) {
         font-size: toRem(20);

         padding-block: toRem(30);
         padding-inline: toRem(50);
      }
   }

   // .portfolio-items__block

   &__block {
      display: flex;
      flex-direction: column;
      gap: toRem(20);

      padding-inline: toRem(24);

      @media (min-width: toEm(768)) {
         gap: toRem(24);

         padding-inline: toRem(40);
      }
      @media (min-width: toEm(1440)) {
         gap: toRem(30);

         padding-inline: toRem(50);
      }
   }

   // .portfolio-items__img

   &__img {
      max-width: toRem(698);
      aspect-ratio: 698 / 423;
      border-radius: toRem(10);
      overflow: hidden;
   }

   // .portfolio-items__head

   &__head {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: toRem(30);

      @media (min-width: toEm(768)) {
         align-items: center;
      }
   }

   // .portfolio-items__body

   &__body {
      display: flex;
      flex-direction: column;
      gap: toRem(10);
   }

   // .portfolio-items__subtitle

   &__subtitle {
      font-size: toRem(20);
      font-weight: 500;

      color: var(--color-grey-90);

      @media (min-width: toEm(1440)) {
         font-size: toRem(24);
      }
   }

   // .portfolio-items__link

   &__link {
      font-size: clamp(0.875rem, 0.392vw + 0.779rem, 1.25rem);
      color: var(--color-grey-60);

      background-color: var(--color-grey-15);
      border-radius: toRem(8);

      padding: toRem(8) toRem(10);

      &:hover {
         background-color: var(--color-grey-20);
      }

      @media (min-width: toEm(768)) {
         padding: toRem(8) toRem(12);
      }
      @media (min-width: toEm(1440)) {
         padding: toRem(10) toRem(14);
      }
   }

   // .portfolio-items__icon

   &__icon {
      width: toRem(46);
      height: toRem(46);
      aspect-ratio: 1 / 1;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: toRem(8);

      background-color: var(--color-grey-15);

      font-size: toRem(13);

      &:hover {
         color: var(--color-green-80);
         background-color: var(--color-grey-20);
      }

      @media (min-width: toEm(1440)) {
         width: toRem(54);
         height: toRem(54);

         font-size: toRem(17);
      }
   }

   // .portfolio-items__text

   &__text {
      color: var(--color-grey-60);
   }
}

.works-banner {
   .banner-block {
      @include bannerSize(toRem(358), 358, 463);

      @media (min-width: toEm(480)) {
         @include bannerSize(toRem(1596), 1596, 624);
      }
   }
}
