:root {
   --color-absolute-white: #ffffff;
   --color-absolute-black: #000000;
   --color-green-50: #9eff00;
   --color-green-60: #b1ff33;
   --color-green-70: #c5ff66;
   --color-green-80: #d8ff99;
   --color-green-90: #ecffcc;
   --color-green-95: #f5ffe5;
   --color-green-97: #f9fff0;
   --color-green-99: #fdfffa;
   --color-grey-10: #1a1a1a;
   --color-grey-15: #262626;
   --color-grey-20: #333333;
   --color-grey-30: #4c4c4d;
   --color-grey-35: #59595a;
   --color-grey-40: #656567;
   --color-grey-60: #98989a;
   --color-grey-90: #e6e6e6;

   --border-dafault: 1px solid var(--color-grey-15);
}
