:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey-1: #f5f5f5;
  --color-grey-2: #ededed;
  --color-grey-3: #cfcfcf;
  --color-grey-4: #6f6f6f;
  --color-grey-5: #d5d5d5;
  --color-grey-6: #f4f4f4;
  --color-grey-7: #4e4e4e;
  --color-grey-8: #c4c4c4;
  --color-grey-9: #797979;
  --color-grey-10: #717171;
  --color-grey-11: #f6f6f6;
  --color-grey-12: #9d9d9d;
  --color-grey-13: #545454;
  --color-grey-14: #d9d9d9;
  --color-grey-15: #7e7e7e;
  --color-grey-16: #979797;
  --color-grey-17: #b2b2b2;
  --color-grey-18: #a2a3b1;
  --color-grey-19: #b5b5b5;
  --color-grey-20: #909090;
  --color-grey-21: #353535;
  --color-grey-22: #fafafa;
  --color-grey-23: #8b8b8b;
  --color-grey-24: #f9f9f9;
  --color-grey-25: #eaeaea;
  --color-grey-26: #2c2c2c;
  --color-grey-27: #787878;
  --color-grey-28: #a4a4a4;
  --color-grey-29: #6c6c6c;
  --color-grey-30: #d4d4d4;
  --color-grey-31: #d3d3d3;
  --color-grey-32: #929292;
  --color-grey-33: #737373;
  --color-grey-34: #a0a0a0;
  --color-grey-35: #a7a7a7;
  --color-grey-36: #cdcdcd;
  --color-grey-37: #cecece;
  --color-grey-38: #a3a3a3;
  --color-grey-39: #ebebeb;
  --color-grey-40: #9f9f9f;
  --color-grey-41: #d1d1d8;
  --color-purple: #781dbc;
  --color-red: #e10000;
  --color-red-2: #ff0000;
  --color-red-3: #f24e4e;
  --color-yellow: #e1b000;
  --color-gold: #ffb547;
  --color-silver: #e8e8e8;
  --color-dark-blue: #17183b;
}