// Змінні кольорів
:root {
   --blue-grey-900: #0f172a;
   --blue-grey-400: #94a3b8;
   --blue-grey-600: #475569;
   --blue-grey-300: #cbd5e1;
   --blue-grey-200: #e2e8f0;

   --purple-100: #f3e8ff;
   --purple-400: #c084fc;
   --purple-600: #9333ea;
   --purple-800: #6b21a8;
   --purple-900: #581c87;

   --white: #fff;

   --pink-700: #be185d;
}
