@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
/* Локальне підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,700,800&display=swap");
/* Скидання стилів */
@import url("reset.css");
@import url("variables.css");
/* Основні стилі */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  color: var(--color-text);
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
@media (min-width: 48em) and (max-width: 70.62375em) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 70.625em) {
  body {
    font-size: 1.125rem;
  }
}
.loaded body {
  opacity: 1;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none; /* для Firefox */
}

a,
button {
  -webkit-transition: color 0.3s, background 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, background 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, transform 0.3s, background 0.3s, box-shadow 0.3s;
  transition: color 0.3s, transform 0.3s, background 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  padding-inline: 0.9375rem;
  margin-inline: auto;
}
@media (min-width: 83.81125em) {
  [class*=__container] {
    padding-inline: 1.875rem;
    max-width: 73.125rem;
  }
}

.header {
  position: fixed;
  inline-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 1000;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.0625rem;
  -webkit-padding-before: 1.875rem;
          padding-block-start: 1.875rem;
  gap: 1.875rem;
}
@media (min-width: 83.81125em) {
  .header__container {
    max-width: 83.75rem;
  }
}
@media (max-width: 62.5em) {
  .header__container {
    grid-template-columns: auto 1fr 0.1fr;
  }
}
@media (max-width: 30em) {
  .header__container {
    grid-template-columns: 1fr 1fr;
    -webkit-padding-after: 1.25rem;
            padding-block-end: 1.25rem;
  }
}
.header__logo {
  position: relative;
  z-index: 6;
}
.header__item {
  justify-self: end;
}
@media (max-width: 62.5em) {
  .header__menu {
    background-color: var(--color-text-3);
    position: fixed;
    z-index: 5;
    inset-inline-start: -100%;
    inset-block-start: 0;
    overflow: auto;
    block-size: 100%;
    inline-size: 100%;
    -webkit-transition: inset-inline-start 0.3s;
    transition: inset-inline-start 0.3s;
  }
  .menu-open .header__menu {
    inset-inline-start: 0;
  }
}
.header__actions {
  justify-self: end;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.9375rem;
}
@media (max-width: 30em) {
  .header__actions {
    display: none;
  }
}

.header.header-scroll {
  background-color: var(--color-text-3);
}
.header.header-scroll .header__container {
  -webkit-padding-after: 1.875rem;
          padding-block-end: 1.875rem;
}

@media (max-width: 48em) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.menu__body::before {
  content: "";
  inline-size: 10%;
  block-size: 5.3125rem;
  background-color: var(--color-text-3);
  position: fixed;
  z-index: 2;
  inset-inline-end: 0;
  inset-block-start: 0;
}
@media (max-width: 30em) {
  .menu__body::before {
    block-size: 3.75rem;
    inline-size: 100%;
  }
}
.menu__body .header__actions {
  display: none;
}
@media (max-width: 30em) {
  .menu__body .header__actions {
    display: block;
    -webkit-padding-before: 3.125rem;
            padding-block-start: 3.125rem;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.125rem;
}
@media (max-width: 62.5em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 6.875rem 1.25rem 0rem 0rem;
  }
}
.menu__link:hover {
  color: var(--color-hover);
}

.icon-menu {
  display: none;
}
@media (max-width: 62.5em) {
  .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    inline-size: 1.875rem;
    block-size: 1.875rem;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    position: absolute;
    inset-inline-start: 0;
    inline-size: 100%;
    border-radius: 0.625rem;
    block-size: 0.125rem;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    background-color: var(--color-text);
  }
  .icon-menu::before {
    inset-block-start: 0;
  }
  .menu-open .icon-menu::before {
    inset-block-start: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .icon-menu::after {
    inset-block-end: 0;
  }
  .menu-open .icon-menu::after {
    inset-block-end: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
        -ms-transform: translateY(50%) rotate(-45deg);
            transform: translateY(50%) rotate(-45deg);
  }
  .icon-menu span {
    inset-block-start: 50%;
  }
  .menu-open .icon-menu span {
    inline-size: 0;
  }
}

.hero__body {
  -webkit-padding-before: 4.6875rem;
          padding-block-start: 4.6875rem;
  background: url("../img/design/vector-1.svg") 46% 20%/50% no-repeat;
}
.hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 50.625em) {
  .hero__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 31.25em) {
  .hero__items {
    display: block;
  }
}
.hero__item {
  -ms-flex-item-align: center;
      align-self: center;
}
.hero__item:nth-child(1) {
  -webkit-padding-before: 3.125rem;
          padding-block-start: 3.125rem;
}
@media (max-width: 31.25em) {
  .hero__item:nth-child(1) {
    -webkit-margin-after: 0.9375rem;
            margin-block-end: 0.9375rem;
  }
}
.hero__item:nth-child(2) {
  max-width: 34.6875rem;
  aspect-ratio: 555/915;
  position: relative;
}
.hero__item:nth-child(2)::before {
  content: "";
  height: 72.2%;
  width: 90.1%;
  border-radius: 50% 50% 0 0;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  -webkit-margin-start: 1.75rem;
          margin-inline-start: 1.75rem;
  z-index: 1;
  background-color: var(--bg-hero-d);
}
.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__design {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  inset-inline-start: 50%;
  inset-block-start: -5%;
}

.item-hero {
  max-width: 32.3125rem;
  aspect-ratio: 481/517;
  font-size: clamp(0.875rem, 0.545vw + 0.766rem, 1.25rem);
}
.item-hero .buttons__button {
  border-radius: 0rem 0.375rem 0.375rem 0rem;
}
@media (max-width: 31.25em) {
  .item-hero .buttons__button {
    border-radius: 0.375rem;
  }
}
.item-hero__title {
  font-size: clamp(2.5rem, 5.455vw + 1.409rem, 6.25rem);
  font-weight: 800;
  line-height: 0.8;
  position: relative;
  -webkit-margin-after: 2.9375rem;
          margin-block-end: 2.9375rem;
}
.item-hero__title span {
  -webkit-padding-start: 4.375rem;
          padding-inline-start: 4.375rem;
}
.item-hero__subtitle {
  font-weight: 700;
  -webkit-margin-after: 1.9375rem;
          margin-block-end: 1.9375rem;
}
.item-hero__text {
  max-width: 29.25rem;
  -webkit-margin-after: 4.125rem;
          margin-block-end: 4.125rem;
}
@media (max-width: 31.875em) {
  .item-hero__text {
    -webkit-margin-after: 1.4375rem;
            margin-block-end: 1.4375rem;
  }
}
.item-hero__form {
  border: 0.0625rem solid var(--color-text);
  border-radius: 0.375rem 0rem 0rem 0.375rem;
}
@media (max-width: 31.875em) {
  .item-hero__form {
    border: none;
  }
}
.item-hero__form .form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 31.875em) {
  .item-hero__form .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.item-hero__form .form .form__input {
  width: 320px;
}
.item-hero__form .form input {
  padding: 0.625rem 0rem 1.09375rem 1.0625rem;
}
.item-hero__form .form input::-webkit-input-placeholder {
  font-size: 1.0625rem;
  opacity: 0.2;
}
.item-hero__form .form input::-moz-placeholder {
  font-size: 1.0625rem;
  opacity: 0.2;
}
.item-hero__form .form input:-ms-input-placeholder {
  font-size: 1.0625rem;
  opacity: 0.2;
}
.item-hero__form .form input::-ms-input-placeholder {
  font-size: 1.0625rem;
  opacity: 0.2;
}
.item-hero__form .form input::placeholder {
  font-size: 1.0625rem;
  opacity: 0.2;
}

.svg {
  position: absolute;
  inset-inline-start: 0.5%;
  inset-block-start: 35%;
  max-width: 5.8323125rem;
  max-height: 6.4375rem;
}
.svg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.patrners {
  position: relative;
}
.patrners::after {
  content: "";
  width: 8rem;
  height: 11.5rem;
  background: url("../img/design/dots.svg") 0 0/100% no-repeat;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 5%;
}
@media (max-width: 53.125em) {
  .patrners::after {
    inset-inline-start: 90%;
  }
}
@media (max-width: 48em) {
  .patrners::after {
    width: 3.125rem;
    height: 4.375rem;
    inset-block-end: 0;
  }
}
.patrners__body {
  padding-block: 8.75rem;
}
@media (max-width: 48em) {
  .patrners__body {
    padding-block: 3.125rem;
  }
}
.patrners__items {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
}
.patrners__item:nth-child(2) {
  -ms-flex-preferred-size: 35.125rem;
      flex-basis: 35.125rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(12.5rem, 100%), 1fr));
  gap: 2.5rem;
}

.item-partners__title {
  -webkit-padding-before: 2.1875rem;
          padding-block-start: 2.1875rem;
}
.item-partners__item {
  max-width: 16.3125rem;
  aspect-ratio: 261/108;
  border-radius: 0.625rem;
  padding: 2rem 1.125rem;
  -webkit-box-shadow: 0rem 1.25rem 3.125rem 0rem rgba(49, 49, 49, 0.05);
          box-shadow: 0rem 1.25rem 3.125rem 0rem rgba(49, 49, 49, 0.05);
}
@media (max-width: 29.375em) {
  .item-partners__item {
    max-width: 100%;
  }
}
.item-partners__image {
  height: 100%;
  width: 100%;
}
.item-partners__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about {
  position: relative;
}
.about::after {
  content: "";
  width: 8rem;
  height: 11.5rem;
  background: url("../img/design/dots.svg") 0 0/100% no-repeat;
  position: absolute;
  inset-inline-start: -1%;
  inset-block-end: -9%;
}
@media (max-width: 61.5625em) {
  .about::after {
    inset-block-end: -3%;
  }
}
@media (max-width: 48em) {
  .about::after {
    width: 3.125rem;
    height: 4.375rem;
  }
}
.about::before {
  content: "";
  width: 74.25rem;
  height: 89.75rem;
  background-color: var(--bg-hero-d);
  opacity: 0.1;
  border-radius: 0rem 18.75rem 0rem 0rem;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -3%;
}
.about__body {
  -webkit-padding-after: 8.0625rem;
          padding-block-end: 8.0625rem;
  -webkit-margin-after: 11.25rem;
          margin-block-end: 11.25rem;
}
@media (max-width: 48em) {
  .about__body {
    -webkit-padding-after: 4.3125rem;
            padding-block-end: 4.3125rem;
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
  }
}
.about__head {
  -webkit-margin-after: 4.6875rem;
          margin-block-end: 4.6875rem;
}
@media (max-width: 48em) {
  .about__head {
    -webkit-margin-after: 2.1875rem;
            margin-block-end: 2.1875rem;
  }
}
.about__items {
  display: grid;
  gap: 0.9375rem;
  grid-template-columns: repeat(auto-fill, minmax(min(31.25rem, 100%), 1fr));
  -webkit-margin-start: -4.0625rem;
          margin-inline-start: -4.0625rem;
}
@media (max-width: 83.75em) {
  .about__items {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
}
@media (max-width: 65em) {
  .about__items {
    justify-items: center;
  }
}

.item-about:nth-child(1) {
  max-width: 31.8125rem;
}
.item-about:nth-child(2) {
  -webkit-padding-before: 9.4375rem;
          padding-block-start: 9.4375rem;
}
@media (max-width: 48em) {
  .item-about:nth-child(2) {
    -webkit-padding-before: 3.1875rem;
            padding-block-start: 3.1875rem;
  }
}
.item-about__image {
  max-width: 36.625rem;
  aspect-ratio: 586/905;
  border-radius: 0rem 0rem 12.5rem 0rem;
  position: relative;
}
.item-about__image::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 0.0625rem solid var(--color-text);
  border-radius: 0rem 0rem 12.5rem 0rem;
  position: absolute;
  inset-inline-start: 1.5625rem;
  inset-block-start: 1.375rem;
}
.item-about__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0rem 0rem 12.5rem 0rem;
}
.item-about__image--design {
  max-width: 31.8125rem;
  aspect-ratio: 509/676;
  border-radius: 12.5rem 0rem 0rem 0rem;
  position: relative;
  -webkit-margin-after: 4.6875rem;
          margin-block-end: 4.6875rem;
}
@media (max-width: 48em) {
  .item-about__image--design {
    -webkit-margin-after: 2.1875rem;
            margin-block-end: 2.1875rem;
  }
}
.item-about__image--design::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 0.0625rem solid var(--color-text);
  border-radius: 12.5rem 0rem 0rem 0rem;
  position: absolute;
  inset-inline-start: -1.5625rem;
  inset-block-start: 1.375rem;
}
.item-about__image--design img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12.5rem 0rem 0rem 0rem;
}
.item-about__text {
  font-size: 1.25rem;
}
.item-about__text p:not(:last-child) {
  -webkit-margin-after: 0.875rem;
          margin-block-end: 0.875rem;
}
.item-about__head {
  -webkit-margin-after: 9.0625rem;
          margin-block-end: 9.0625rem;
  max-width: 26.125rem;
}
@media (max-width: 48em) {
  .item-about__head {
    -webkit-margin-after: 2.8125rem;
            margin-block-end: 2.8125rem;
  }
}

.works {
  position: relative;
}
.works::after {
  content: "";
  width: 8rem;
  height: 11.5rem;
  background: url("../img/design/dots.svg") 0 0/100% no-repeat;
  position: absolute;
  inset-inline-end: -6%;
  inset-block-end: -39%;
}
@media (max-width: 48em) {
  .works::after {
    width: 3.125rem;
    height: 4.375rem;
  }
}
.works__body {
  -webkit-margin-after: 8.75rem;
          margin-block-end: 8.75rem;
}
@media (max-width: 48em) {
  .works__body {
    -webkit-margin-after: 1.875rem;
            margin-block-end: 1.875rem;
  }
}
.works__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(31.25rem, 100%), 1fr));
}
.works__item:nth-child(1) {
  border-right: 0.0625rem solid var(--bodrer-input-f);
}
.works__item:nth-child(2) {
  padding-block: 3.3125rem 2.3125rem;
  -webkit-padding-start: 4.5rem;
          padding-inline-start: 4.5rem;
}
@media (max-width: 48em) {
  .works__item:nth-child(2) {
    -webkit-padding-start: 2rem;
            padding-inline-start: 2rem;
  }
}
.works__item:nth-child(2) > :not(:last-child) {
  -webkit-margin-after: 4.375rem;
          margin-block-end: 4.375rem;
}
.works__item .titles__text {
  -webkit-margin-after: 2.5rem;
          margin-block-end: 2.5rem;
}
.works__item .titles__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}
.works__item .titles__actions .buttons__button:nth-child(1) {
  padding-inline: 2.25rem;
}
@media (max-width: 27.5em) {
  .works__item .titles__actions .buttons__button:nth-child(1) {
    padding-inline: 0.4375rem;
  }
}
.works__item .titles__actions .buttons__button:nth-child(2) {
  padding-inline: 3.3125rem;
}
@media (max-width: 27.5em) {
  .works__item .titles__actions .buttons__button:nth-child(2) {
    padding-inline: 1.25rem;
  }
}

.item-works__spoiler {
  -webkit-padding-end: 2.4375rem;
          padding-inline-end: 2.4375rem;
}
.item-works__spoiler[open] {
  border-radius: 0.625rem;
  -webkit-box-shadow: 0rem 1.25rem 5.9375rem 0rem rgba(201, 203, 204, 0.3);
          box-shadow: 0rem 1.25rem 5.9375rem 0rem rgba(201, 203, 204, 0.3);
  padding: 2.3125rem 2.4375rem 3.0625rem 2rem;
  -webkit-margin-start: -2.1875rem;
          margin-inline-start: -2.1875rem;
}
.item-works__title {
  cursor: pointer;
  font-weight: 700;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  -webkit-margin-after: 1.8125rem;
          margin-block-end: 1.8125rem;
}
.item-works__marker svg path {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
[open] .item-works__marker svg path:nth-child(2) {
  opacity: 0;
}
.item-works__content {
  color: var(--color-text-2);
}

.blog__body {
  -webkit-margin-after: 13.125rem;
          margin-block-end: 13.125rem;
}
@media (max-width: 48em) {
  .blog__body {
    -webkit-margin-after: 4.375rem;
            margin-block-end: 4.375rem;
  }
}
.blog__head {
  max-width: 41.375rem;
  -webkit-margin-after: 7.6875rem;
          margin-block-end: 7.6875rem;
}
@media (max-width: 65.8125em) {
  .blog__head {
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
  }
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(31.25rem, 100%), 1fr));
  gap: 1.5rem;
}
@media (max-width: 65.8125em) {
  .blog__items {
    gap: 5rem;
  }
}
.blog__item {
  padding-inline: 2.5rem;
  -webkit-box-shadow: 0rem 1.25rem 5.9375rem 0rem rgba(201, 203, 204, 0.3);
          box-shadow: 0rem 1.25rem 5.9375rem 0rem rgba(201, 203, 204, 0.3);
}

.item-blog:nth-child(1) .item-blog__image {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.item-blog:nth-child(2) .item-blog__image {
  -webkit-margin-after: 5.5rem;
          margin-block-end: 5.5rem;
}
@media (max-width: 65.8125em) {
  .item-blog:nth-child(2) .item-blog__image {
    -webkit-margin-after: 1.875rem;
            margin-block-end: 1.875rem;
  }
}
.item-blog__image {
  -webkit-margin-before: -2.0625rem;
          margin-block-start: -2.0625rem;
  max-width: 28.5rem;
  aspect-ratio: 456/214;
}
@media (max-width: 65.8125em) {
  .item-blog__image {
    max-width: 100%;
  }
}
.item-blog__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-blog__new {
  color: var(--color-new-text);
  font-size: 1.375rem;
  letter-spacing: -0.03125rem;
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
  line-height: 1.4;
}
.item-blog__label {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.3;
  -webkit-margin-after: 5.3125rem;
          margin-block-end: 5.3125rem;
}
@media (max-width: 65.8125em) {
  .item-blog__label {
    -webkit-margin-after: 1.875rem;
            margin-block-end: 1.875rem;
  }
}
.item-blog__text {
  font-size: 1.125rem;
  background-color: var(--color-bg-blog);
  padding: 1.875rem 1.625rem 2.8125rem 1.875rem;
  -webkit-margin-after: -2.1875rem;
          margin-block-end: -2.1875rem;
  line-height: 1.3;
}
@media (max-width: 65.8125em) {
  .item-blog__text {
    padding: 1.875rem 1.625rem 1.5625rem 1.875rem;
  }
}

.faq {
  position: relative;
}
.faq::before {
  content: "";
  width: 100%;
  height: 35.625rem;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  background-color: var(--bg-hero-d);
  opacity: 0.2;
}
@media (max-width: 66.25em) {
  .faq::before {
    height: 54.375rem;
  }
}
.faq__body {
  -webkit-margin-after: 8.75rem;
          margin-block-end: 8.75rem;
}
@media (max-width: 48em) {
  .faq__body {
    -webkit-margin-after: 3.75rem;
            margin-block-end: 3.75rem;
  }
}
.faq__head {
  text-align: center;
  -webkit-margin-after: 3.75rem;
          margin-block-end: 3.75rem;
}
@media (max-width: 48em) {
  .faq__head {
    -webkit-margin-after: 0.625rem;
            margin-block-end: 0.625rem;
  }
}
.faq__head .titles__text {
  max-width: 45rem;
  margin-inline: auto;
}
.faq__items {
  padding-block: 5.625rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(31.25rem, 100%), 1fr));
  gap: 1.875rem;
}
@media (max-width: 48em) {
  .faq__items {
    padding-block: 2.8125rem;
  }
}
.faq__item {
  background-color: var(--color-text-3);
  padding: 1.5625rem 2.6875rem 2.125rem 1.875rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #f8f9fc;
  -webkit-box-shadow: 0rem 1.25rem 2.5rem 0rem rgba(141, 147, 201, 0.08);
          box-shadow: 0rem 1.25rem 2.5rem 0rem rgba(141, 147, 201, 0.08);
}

.item-faq__title {
  font-weight: 700;
  line-height: 1.3;
  -webkit-margin-after: 2.1875rem;
          margin-block-end: 2.1875rem;
}
.item-faq__text {
  line-height: 1.1;
}

.testimonials__head {
  -webkit-margin-after: 4.1875rem;
          margin-block-end: 4.1875rem;
  text-align: center;
}
@media (max-width: 48em) {
  .testimonials__head {
    -webkit-margin-after: 2.3125rem;
            margin-block-end: 2.3125rem;
  }
}
.testimonials__head .titles__title:not(:last-child) {
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
.testimonials__head .titles__text {
  max-width: 46.875rem;
  margin-inline: auto;
}
.testimonials__items {
  padding-inline: 3.4375rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
  -webkit-column-gap: 8.125rem;
     -moz-column-gap: 8.125rem;
          column-gap: 8.125rem;
  row-gap: 1.875rem;
}
.testimonials__item:nth-child(1) {
  -ms-flex-item-align: center;
      align-self: center;
}
.testimonials__item:nth-child(2) {
  justify-items: center;
}

.item-testimonials__title {
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1.3;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
.item-testimonials__text {
  line-height: 1.555;
  -webkit-margin-after: 7.8125rem;
          margin-block-end: 7.8125rem;
}
@media (max-width: 48em) {
  .item-testimonials__text {
    -webkit-margin-after: 2.1875rem;
            margin-block-end: 2.1875rem;
  }
}
.item-testimonials__name {
  font-weight: 700;
  line-height: 1.3;
}
.item-testimonials__label {
  color: var(--color-quote-text);
}
.item-testimonials__image {
  position: relative;
  max-width: 25.0625rem;
  aspect-ratio: 401/674;
}
.item-testimonials__image::before {
  content: "";
  width: 116.8%;
  height: 83.1%;
  border-radius: 14.625rem 14.625rem 0rem 0rem;
  background-color: var(--bg-hero-d);
  opacity: 0.2;
  position: absolute;
  inset-inline-end: -5%;
  inset-block-end: 0;
  z-index: -1;
}
.item-testimonials__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: var(--color-text);
  color: var(--color-text-3);
}
.footer__body {
  padding-block: 10.9375rem 1.5rem;
}
@media (max-width: 48em) {
  .footer__body {
    padding-block: 4.6875rem 1.5rem;
  }
}
.footer__head {
  max-width: 37.5rem;
  margin-inline: auto;
  -webkit-margin-after: 11.8125rem;
          margin-block-end: 11.8125rem;
}
@media (max-width: 48em) {
  .footer__head {
    -webkit-margin-after: 5.5625rem;
            margin-block-end: 5.5625rem;
  }
}
.footer__foot {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 0.9375rem;
  -webkit-margin-after: 4.6875rem;
          margin-block-end: 4.6875rem;
}
@media (max-width: 38.125em) {
  .footer__foot {
    grid-template-columns: auto;
    gap: 1.875rem;
  }
}
.footer__adress {
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
  font-size: 0.875rem;
  max-width: 12rem;
}
.footer__title .titles__form {
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}
.footer__item:nth-child(3) {
  max-width: 10.1875rem;
}
.footer__rights {
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.form__input input {
  padding-top: 0.375rem;
  border-bottom: 0.0625rem solid var(--bodrer-input-f);
}
.form__label {
  font-size: clamp(0.875rem, 0.545vw + 0.766rem, 1.25rem);
  color: var(--bodrer-input-f);
}

.item-footer__title {
  font-size: clamp(0.875rem, 0.545vw + 0.766rem, 1.25rem);
  font-weight: 700;
  -webkit-margin-after: 1.75rem;
          margin-block-end: 1.75rem;
}
.item-footer__links li:not(:last-child) {
  -webkit-margin-after: 1.4375rem;
          margin-block-end: 1.4375rem;
}
.item-footer__link:hover {
  color: var(--color-hover);
}

.rights {
  font-size: clamp(0.875rem, 0.545vw + 0.766rem, 1.25rem);
}

.titles__title {
  font-size: clamp(1.875rem, 3.182vw + 1.239rem, 4.063rem);
  font-weight: 500;
}
.titles__title:not(:last-child) {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.titles__title--white {
  text-align: center;
  max-width: 31.875rem;
}
.titles__text {
  font-size: 1.25rem;
  max-width: 30.6875rem;
}

.buttons {
  font-size: clamp(0.813rem, 0.364vw + 0.74rem, 1.063rem);
}
.buttons__sign-in:hover {
  color: var(--color-hover);
}
.buttons__button {
  padding: 1.21875rem 2.8125rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid var(--color-text);
}
.buttons__button--white {
  padding: 1.21875rem 2.3125rem;
  background-color: var(--color-text-3);
  color: var(--color-text);
}
.buttons__button:hover {
  -webkit-box-shadow: 0rem 1.875rem 6.25rem 0rem var(--color-text);
          box-shadow: 0rem 1.875rem 6.25rem 0rem var(--color-text);
  color: var(--color-text-3);
  background-color: var(--color-text);
}

.logo {
  font-size: 1.5625rem;
  font-weight: 700;
}