:root {
  --color-text: #313131;
  --color-text-2: #5f5f5f;
  --color-text-3: #fff;
  --color-new-text: #ff5f5f;
  --color-quote-text: #b8b8b8;
  --color-hover: #f7af43;
  --bg-hero-d: #ffe500;
  --bodrer-input-f: #e0e0e0;
  --color-bg-blog: #eef7fb;
}