// Змінні кольорів
:root {
	--main-bg: #f3f4f6;
	--footer-hero-bg: #101c26;
	--btn-bg: #f0e714;
	--bg-head-title: #f0e91433;
	--bg-head-scroll: #24272e98;

	--color-text: #555c68;
	--color-text-1: #bab9b9;
	--color-text-footer: #b3b3b3;
	--color-text-footer-2: #f5f5f5;
	--color-btn-trspnt: #cecece;
	--color-text-3: #24272e;

	--before-hero-img: #edb32d;
	--footer-after-line: #989898;
	--contacts-input: #d3d3d3;

	--hover-text-head: #fff;
}
